<form  name="fajoutfras"   >
  <app-navbar></app-navbar>
  <BR> <BR> <BR>
  <div>
    <h1>
      {{titre }} <BR>
    </h1>
    <BR> <BR>


    <div class="col-md-12  col-sm-12 well well-md">
      <div class="form-horizontal">
        <div class="form-group">
          <label class="col-md-3 col-sm-3 control-label">Année Mois  : </label>
          <div class="col-md-2 col-sm-2">
            <input type="text" name="anneeMois" [(ngModel)]="unFrais.anneemois"  class="form-control"  required autofocus>
          </div>
        </div>
      </div>

      <div class="form-horizontal">
        <div class="form-group">
          <label class="col-md-3 col-sm-3 control-label">Date de modification : </label>
          <div class="col-md-2 col-sm-2">
            <input type="text" name="dateModification" [(ngModel)]="unFrais.datemodification"  class="form-control"  required autofocus>
          </div>
        </div>
      </div>
      <div class="form-horizontal">
        <div class="form-group">
          <label class="col-md-3 col-sm-3 control-label">Montant Validé : </label>
          <div class="col-md-2 col-sm-2">
            <input type="text" name="montantValide" [(ngModel)]="unFrais.montantvalide"  class="form-control"  required autofocus>
          </div>
        </div>
      </div>
      <div class="form-horizontal">
        <div class="form-group">
          <label class="col-md-3 col-sm-3 control-label">Nombre justificatifs : </label>
          <div class="col-md-2 col-sm-2">
            <input type="text" name="nbJustificatifs" [(ngModel)]="unFrais.nbjustificatifs"  class="form-control"  required autofocus>
          </div>
        </div>
      </div>
      <div class="form-horizontal">
        <div class="form-group">
          <label class="col-md-3 col-sm-3 control-label">Id  état : </label>
          <div class="col-md-2 col-sm-2">
            <select [(ngModel)]="unFrais.id_etat"  name ="unFrais.id_etat" class="form-control" id="unFrais.id_etat" required>
              <option *ngFor="let unEtat of mesEtat" value="{{unEtat.id_etat}}">{{unEtat.lib_etat}} </option>
            </select>
          </div>
        </div>
      </div>

      <br><br>
      <div class="form-group">
        <div class="col-md-2 col-md-offset-3 col-sm-6 col-sm-offset-3">
          <button type="button" (click)="valider()" class="btn btn-default btn-primary">
            <span class="glyphicon glyphicon-ok"></span> Valider
          </button>
        </div>
        <div class="col-md-2 ">  &nbsp;  &nbsp;
          <button type="button"  (click)="annuler()" class="btn btn-default btn-primary" >
            <span class="glyphicon glyphicon-remove"></span> Annuler
          </button>
        </div>
      </div>

    </div>

  </div>
</form>
